<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home 
    </title>
    <link rel="stylesheet" href="/css/about.css">
    <script src="/script.js"></script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body background="images/bestcircle.png">    
    <nav class="nav container">
        <a href="/">
            <i class='bx bx-circle nav__logo-icon'><img src="/images/tempImageForSave-9-430x430.png" alt="" width="100px"></i> 
        </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="/getstarted" class="nav__link">Get Started</a>
                </li>
                <li class="nav__item">
                    <a href="/powertracer" class="nav__link">PowerTracer</a>
                </li>
                <li class="nav__item">
                    <a href="/about" class="nav__link active-link">About</a>
                </li>
                <li class="nav__item">
                    <a href="https://support.enosi.energy/en/?q=community" class="nav__link">FAQ</a>
                </li>
            </ul>
    
            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>
    
        <div class="nav__btns">
            <!-- Theme change button -->
            <i class="ri-moon-line change-theme" id="theme-button"></i>
    
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </div>
    </nav>

    <section class="about section container" id="about">
        <div class="about__container grid">
            <img src="img/pic2.jpeg" alt="" class="about__img">

            <div class="about__data">
                <h4 class="section__title about__title">
                    Who is Enosi? & What do we do?
                </h4>

                <p class="about__description">
                    We created Enosi to reach true zero carbon experience. And make this effort accessible to everyone.  

                    We unlock the ability for small customers to source their electricity directly from solar and wind farms.

                </p>
                <div class="about__data">
                    <h4 class="section__title about__title">
                        Why choose us?
                    </h4>

                <div class="about__details">
                    <p class="about__details-description">
                        <i class="ri-checkbox-fill about__details-icon"></i>
                            
                        With Powertracer, we give you the power to manage and control your own energy. Trade it, track it, change it all whilst changing the carbon footprint.
                    </p>

                    <p class="about__details-description">
                        <i class="ri-checkbox-fill about__details-icon"></i>
                        
                        24/7 carbon free-energy

                    </p>
                    <p class="about__details-description">
                        <i class="ri-checkbox-fill about__details-icon"></i>
                        Sustainability Drivers
                        within organisations

                    </p>
                    <p class="about__details-description">
                        <i class="ri-checkbox-fill about__details-icon"></i>
                        Earlier delivery of Net Zero commitments
                    </p>

                    <p class="about__details-description">
                        <i class="ri-checkbox-fill about__details-icon"></i>
                        24/7 Energy Traceability
                        to the watt-hour
                        
                    </p>

                    <p class="about__details-description">
                        <i class="ri-checkbox-fill about__details-icon"></i>
                        Putting direct demand-side pressure on delivery of more renewables

                        
                    </p>
                </div>

                <a href="/powertracer" class="button">
                    Learn more about Powertracer <i class="ri-arrow-right-down-line button__icon"></i>
                </a>
            </div>
        </div>
    </section>

</body>

</html>