<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home 
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/script.js"></script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body>    
   <h1>Choose your energy retailer:</h1>

   <div class="panel">
    <div class="pricing-plan">
        <img src="images/energylocal.png" alt="" class="pricing1-img">
        <h2 class="pricing-header">Household</h2>
        <ul class="plan-features">
            <li class="pricing-features-item">Personal households that have a family</li>
        </ul>
        <a href="/form" class="pricing-button">Sign Up</a>
    </div>

    <div class="pricing-plan">
        <img src="images/store-alt-solid-48.png" alt="" class="pricing2-img">
        <h2 class="pricing-header2">Small and Medium Businesses</h2>
        <ul class="plan-features">
            <li class="pricing-features-item">For businesses with less than 20 employees</li>
        </ul>
        <a href="/form" class="pricing-button">Sign Up</a>
    </div>

    <div class="pricing-plan">
        <img src="images/business-solid-48.png" alt="" class="pricing3-img">
        <h2 class="pricing-header">Corporations</h2>
        <ul class="plan-features">
            <li class="pricing-features-item">Corporations with 20+ employees</li>
        </ul>
        <a href="/form" class="pricing-button">Further Questions</a>
    </div>

    <div class="pricing-plan">
        <img src="images/user-regular-48.png" alt="" class="pricing4-img">
        <h2 class="pricing-header">Community</h2>
        <ul class="plan-features">
            <li class="pricing-features-item">Government/Local communities</li>
        </ul>
        <a href="/form" class="pricing-button">Sign Up</a>

    </div>
</div>

</body>
</html>