<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Enosi 
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/selection.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
</head>

<body>

    <form action="/form" method="post">
        <label for="suburb">Which suburb are you from?</label> <br>
        <input type="number" id="subrb" name="suburb"> <br>
        <br>
        <label for="energycompany">Which energy provider are you with?</label> <br>
        <input type="text" id="energycompany" name="energycompany"> <br>
        <br>
        <label for="energyuse">How much energy do you use per quarter (kWh)?</label> <br>
        <input type="number" id="energyuse" name="energyuse"> <br>
        <br>
        <label for="energycost">How much do you pay per quarter?</label> <br>
        <input type="number" id="energycost" name="energycost"> <br>
        <br>
        <label for="solarpanel">Does your residence have solar panels?</label> <br>
        <input type="radio" id="solarpanelyes" name="solarpanel" value="yes"> 
        <label for="solarpanelyes">Yes</label> <br>
        <input type="radio" id="solarpanelno" name="solarpanel" value="no">
        <label for="solarpanelno">No</label> <br>
        <input type="radio" id="solarpanelnotsure" name="solarpanel" value="notsure"> 
        <label for="solarpanelnotsure">Not sure</label> <br>

        <br>
        <label for="smartmeter">Does your residence have a smart meter?</label> <br>
        <input type="radio" id="smartmeteryes" name="smartmeter" value="yes"> 
        <label for="smartmeteryes">Yes</label> <br>
        <input type="radio" id="smartmeterno" name="smartmeter" value="no">
        <label for="smartmeterno">No</label> <br>
        <input type="radio" id="smartmeternotsure" name="smartmeter" value="notsure"> 
        <label for="smartmeternotsure">Not sure</label> <br>


        <br>
        <br>
        <button>Submit</button>
        

    </form>

    
    
    


</body>

</html>