<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home 
    </title>
    <link rel="stylesheet" href="/css/nextbusinessenergy.css">
    <script src="/script.js"></script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body>    
    <iframe src="https://nextbusinessenergy.com.au/about-next-business-energy/" width="80%" height="600"></iframe>


    <div class="pricing-panel">
        <a href="/onlyneedpowertracer">
            <button class="pricing-button">Done</button>
        </a>
    </div>

</body>
</html>