<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home 
    </title>
    <link rel="stylesheet" href="/css/onlyneedpowertracer.css">
    <script src="/script.js"></script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body background="images/bestcircle.png">    
    <section class="about section container" id="about">
        <div class="about__container">
            <h1>Benefits of Power Tracer:</h1>

            <p>
                Powertracer allows users to have traceability of where their energy comes from
            </p>

            <p>
                It’s better. Energy rollover is easier and cheaper!
            </p>
            <p>
                Take control: Trade your energy with communities and households! Your choice!
            </p>
            <p>
                Be informed: Trace your energy for the first time!
            </p>
            <p>
                Need more? Buy more renewable energy and create less waste
            </p>
            <p>
                All of the above at <b>NO</b> cost!
            </p>
    
            <br>
            <br>
         

                 <%if (solar == "yes") { %> 

                    <h2>Trading Opportunities with solar panels:</h2>
                     <p>If your residence has solar panels, you can ultilise Powertracer's trading platform to trade your excess energy to other Powertracer users</p>
                     <p>
                         Trading opportunities include being able to trade your excess energy to people that you know (all users must be using Powertracer)
                    </p>
                    <p>
                    Or you can trade blindly to your own community at a price that you decide
                        </p>
                 <% } else {%>
                    <h2>Trading Opportunities with Powertracer:</h2>
                    <p>
                     Trading opportunities include being able to purchase carbon-free energy from solar/wind/hydro farms 
                    </p>
                 <% } %> 
            <br>
                 <% if (status == "no"){ %> 
                     <h3 style="color: white"> NOTE: As you do not have a smart meter, a 2 week waiting period is needed in order for your energy retailer to swap your old meter for a smart meter in order to use Powertracer </h3>
                 <% } %>

            
            <a href="/paymentyes">
             <button class="button">Add Powertracer for Free!</button>
            </a>
         
            <a href="/">
             <button class="button2">Not interested</button>
            </a>
         
        </div>
    </section>


   


</body>
</html>