<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home 
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/script.js"></script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>

<body>    
    <h1>Payment Section:</h1>
 
    <p>
        <% if (company !== "Energy Local"){%>
        <h2> Thank you for switching from <%= company %> to Energy Local</h2>
        <% } %> 
    </p>

    <h1>
        Thank you for switching to <b>100% </b> carbon-free energy 
    </h1>

    <p>
        From  <b>$300 </b> to <b>$250 </b> per quarter with Energy Local you will be saving <b>$50 or 16%</b> per quarter 
    </p>

     
 
    <p>
        With the Powertracer by Enosi add on of <b>$2.50</b> per month
    </p>
    
    <p>
        Your monthly payment will be <b>$65 </b> per month or <b> $260 </b> per quarter
    </p>
    

    <a href="/congrats">
    <button>Go Ahead!</button>
    </a>
 
 </body>
 </html>