<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home 
    </title>
    <link rel="stylesheet" href="/css/paymentyes.css">
    <script src="/script.js"></script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>

<body>    

    <section class="home" id="home">
        <div class="home__container container grid">
            <img src="img/pic1.jpeg" alt="" class="home__img">
            <div class="home__data">
                <h1 class="home__title">
                    <% if (company !== "Energy Local"){%>
                        <h1> Thank you for switching to <b>100% </b> carbon-free energy </h1>
                        <% }%> 
                    <h2> Thank you for trying Powertracer!</h2>
                </h1>
                <p class="home__description">
                    Further details will be emailed to your account
                </p>
                <a href="/" class="button button--flex">
                    Finish</i>
                </a>
            </div>
        </div>
    </section>

 
 </body>
 </html>