<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home 
    </title>
    <link rel="stylesheet" href="/css/powertracer.css">
    <script src="/script.js"></script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body>   
<body background="images/bestcircle.png">
    <nav class="nav container">
        <a href="/">
            <i class='bx bx-circle nav__logo-icon'><img src="/images/tempImageForSave-9-430x430.png" alt="" width="100px"></i> 
            </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="/getstarted" class="nav__link">Get Started</a>
                </li>
                <li class="nav__item">
                    <a href="/powertracer" class="nav__link active-link">PowerTracer</a>
                </li>
                <li class="nav__item">
                    <a href="/about" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="/contactus" class="nav__link">Contact Us</a>
                </li>
                <li class="nav__item">
                    <a href="https://support.enosi.energy/en/?q=community" class="nav__link">FAQ</a>
                </li>
            </ul>
    
            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>
    
        <div class="nav__btns">
            <!-- Theme change button -->
            <i class="ri-moon-line change-theme" id="theme-button"></i>
    
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </div>
    </nav>

    <section class="steps section container">

        <div class="steps__bg">
            <h2 class="section__title-center steps__title">
                What is <br>Powertracer?
            </h2>

            <img src="images/powertracer.jpeg" alt="" class="center">

            <br>
            <br>

            <div class="steps__container grid">
                <div class="steps__card">
                    <div class="steps__card-number">01</div>
                    <h3 class="steps__card-title">Trading energy platform</h3>
                    <p class="steps__card-description">
                        Software that enables trading in renewable energy from solar, 
                        hydro, wind farms direct to users
                    </p>
                </div>

                <div class="steps__card">
                    <div class="steps__card-number">02</div>
                    <h3 class="steps__card-title">Personal or Community Trades</h3>
                    <p class="steps__card-description">
                        Trade with people you know or blindly through your community
                    </p>
                </div>

                <div class="steps__card">
                    <div class="steps__card-number">03</div>
                    <h3 class="steps__card-title">Energy Traceability</h3>
                    <p class="steps__card-description">
                        All your energy usage is traced through Powertracer, allowing users to see where their energy comes from

                    </p>
                </div>

            </div>
            <a href="/getstarted"> <button class="button">Get started with Powertracer!</button></a>
        </div>


        
    </section>



</body>
